<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Red1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,97},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,0},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,97},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,97},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,0},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,97},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,0},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,97},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,0},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,97},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,97},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,0},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,97},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,0},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>Red1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>heroin.png</string>
			</dict>
		</dict>
</plist>